{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<style>
    body {
        background-color: rgba(17, 17, 184, 0.748);
    }
    h1 {
        color: white;
        font-size: 60px;
        font-family: SF Pro Display;
    }
    .profile-picture {
        width: 150px;
        height: 150px;
        overflow: break-word;
        margin-left: 0px;

    }
    .profile-picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .profile-picture_1 {
        width: 150px;
        height: 150px;
        overflow-wrap: break-word;
        margin-left: 0px;

    }
    .profile-picture_1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .profile-picture2 {
        width: 150px;
        height: 150px;
        overflow-wrap: break-word;
        margin-left: 0px;

    }
    .profile-picture2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .text-input {
        color: white;
        font-size: 22px;
 
    }

</style>
<meta name="viewport" content="width=device-width, initial-scale=.5">     
<h1>You Should've Been Here!</h1>

<div class="set-container">

    {% if current_user.id == 1 %}
    <div class="col-md-4">
        <div class="profile-picture_1">
        <form method="post">
            {{ forms.text_input1() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
           <p class="text-input">{{ current_user.text_input1 }}</p>
        </form>
        <div class="profile-picture_1">
            <img src="https://profilepic23.s3.amazonaws.com/{{ name_to_update.pics_1 }}" width="128">
        </div>
        <div class="profile-picture_1"> 
        <form method="post" enctype="multipart/form-data">
            {{ form.pics_1 }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
        <form method="post">
            {{ forms.text_input() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
        </form>
        <p style="color: white; font-size: 22px;">{{ current_user.text_input }}</p>
    </div>
    </div>
</div>
    {% endif %}


    {% if current_user.id == 1 %}
    <div class="col-md-4">
        <div class="profile-picture">
        <form method="post">
            {{ forms.text_input2() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
           <p class="text-input">{{ current_user.text_input2 }}</p>
        </form>
        <div class="profile-picture">
            <img src="https://profilepic23.s3.amazonaws.com/{{ name_to_update.pics }}" width="128">
        </div>
        <div class="profile-picture"> 
        <form method="post" enctype="multipart/form-data">
            {{ form.pics }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
        <form method="post">
            {{ forms.text_input3() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
        </form>
        <p style="color: white; font-size: 22px;">{{ current_user.text_input3 }}</p>
    </div>
    </div>
</div>
    {% endif %}

    {% if current_user.id == 1 %}
    <div class="col-md-4">
        <div class="profile-picture2">
        <form method="post">
            {{ forms.text_input4() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
           <p class="text-input">{{ current_user.text_input4 }}</p>
        </form>
        <div class="profile-picture2">
            <img src="https://profilepic23.s3.amazonaws.com/{{ name_to_update.pics_2 }}" width="128">
        </div>
        <div class="profile-picture2"> 
        <form method="post" enctype="multipart/form-data">
            {{ form.pics_2 }}
            {{ form.csrf_token }}
            {{ form.submit }}
        </form>
        <form method="post">
            {{ forms.text_input5() }}
            {{ forms.csrf_token }}
            {{ forms.submit }}
        </form>
        <p style="color: white; font-size: 22px;">{{ current_user.text_input5 }}</p>
    </div>
    </div>
</div>
    {% endif %}
</div>






{% if current_user.id != 1 %}
<div class="set-container">
    <div class="col-md-4">
        {% if current_user.text_input2 %}
        <div class="profile_picture_1">
            <p style="color:white;font-size:28px;">{{ current_user.text_input1 }}</p>
        </div>
        {% endif %}
        {% for user in users %}
            {% if user.pics_1 %}
            <div class="profile-picture_1">
                <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_1 }}" width="128">
            </div>
            {% endif %}
        {% endfor %}
        {% if current_user.text_input %}
        <div class="profile-picture_1">
            <p style="color:white;font-size:28px;">{{ current_user.text_input }}</p>
        </div>
        {% endif %}
    </div>


    <div class="col-md-4">
        {% if current_user.text_input2 %}
        <div class="profile_picture">
            <p style="color:white;font-size:28px;">{{ current_user.text_input2 }}</p>
        </div>
        {% endif %}
        {% for user in users %}
            {% if user.pics %}
            <div class="profile-picture">
                <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics }}" width="128">
            </div>
            {% endif %}
        {% endfor %}
        {% if current_user.text_input3 %}
        <div class="profile-picture">
            <p style="color:white;font-size:28px;">{{ current_user.text_input3 }}</p>
        </div>
        {% endif %}
    </div>

    <div class="col-md-4">
        {% if current_user.text_input4 %}
        <div class="profile_picture2">
            <p style="color:white;font-size:28px;">{{ current_user.text_input4 }}</p>
        </div>
        {% endif %}
        {% for user in users %}
            {% if user.pics_2 %}
            <div class="profile-picture2">
                <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_2 }}" width="128">
            </div>
            {% endif %}
        {% endfor %}
        {% if current_user.text_input5 %}
        <div class="profile-picture2">
            <p style="color:white;font-size:28px;">{{ current_user.text_input5 }}</p>
        </div>
        {% endif %}
    </div>


</div>
{% endif %}
{% endblock %}


