{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<head><meta charset="UTF-8"></head>
<style>
    body {
        background-color: rgba(17, 17, 184, 0.748);
    }
    h1 {
        color: white;
        font-size: 60px;
        font-family: SF Pro Display;
    }
    .profile-picture {
        width: 250px;
        height: 299px;
        margin:20px;
        transform: translate(0,0);
        word-wrap: break-word;
        border-collapse: collapse;
        display: inline-block;
        font-family: SF Pro Display;
        border-radius: 5px;
        background-color: #b1a7a8ee;

    }


    .profile-picture img {
        width: 100%;
        height: 100%;
        height: 250px;
        object-fit: cover;
        border-collapse: separate;
        border-radius: 5px;
    }
    .profile-picture video {
        width: 100%;
        height: 100%;
        height: 240px;
        object-fit: cover;
        border-collapse: separate;
        border-radius: 5px;
    }



</style>

<h1>You Should've Been Here!</h1>
{% if current_user.id == 1 or current_user.id == 4 %}


                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input }}</p>
                    {% for user in users %}
                    {% if user.pics %}
                    {% if user.pics.endswith('.mov') or user.pics.endswith('.mp4') or user.pics.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input1() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input1 }}</p>
                </div>
       
                
                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input2() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input2 }}</p>
                    {% for user in users %}
                    {% if user.pics_1 %}
                    {% if user.pics_1.endswith('.mov') or user.pics_1.endswith('.mp4') or user.pics_1.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_1 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_1 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_1 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input3() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input3 }}</p>
                </div>
         
                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input4() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input4 }}</p>
                    {% for user in users %}
                    {% if user.pics_2 %}
                    {% if user.pics_2.endswith('.mov') or user.pics_2.endswith('.mp4') or user.pics_2.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_2 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_2 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_2 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input5() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input5 }}</p>
                </div>
       

                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input6() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input6 }}</p>
                    {% for user in users %}
                    {% if user.pics_3 %}
                    {% if user.pics_3.endswith('.mov') or user.pics_3.endswith('.mp4') or user.pics_3.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_3 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_3 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_3 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input7() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input7 }}</p>
                </div>
      
      
                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input8() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input8 }}</p>
                    {% for user in users %}
                    {% if user.pics_4 %}
                    {% if user.pics_4.endswith('.mov') or user.pics_4.endswith('.mp4') or user.pics_4.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_4 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_4 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_4 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input9() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input9 }}</p>
                </div>
      

                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input10() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input10 }}</p>
                    {% for user in users %}
                    {% if user.pics_5 %}
                    {% if user.pics_5.endswith('.mov') or user.pics_5.endswith('.mp4') or user.pics_5.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_5 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_5 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_5 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input11() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input11 }}</p>
                </div>
  
  
  
                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input12() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input12 }}</p>
                    {% for user in users %}
                    {% if user.pics_6 %}
                    {% if user.pics_6.endswith('.mov') or user.pics_6.endswith('.mp4') or user.pics_6.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_6 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_6 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_6 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input13() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input13 }}</p>
                </div>


                
                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input14() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input14 }}</p>
                    {% for user in users %}
                    {% if user.pics_7 %}
                    {% if user.pics_7.endswith('.mov') or user.pics_7.endswith('.mp4') or user.pics_7.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_7 }}#t=0.1" type="video/mp4" preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_7 }}" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_7 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input15() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input15 }}</p>
                </div>

                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input16() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input16 }}</p>
                    {% for user in users %}
                    {% if user.pics_8 %}
                    {% if user.pics_8.endswith('.mov') or user.pics_9.endswith('.mp4') or user.pics_8.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_8 }}#t=0.1" type="video/mp4"preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_8 }}#t=0.1" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_8 }}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input17() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input17 }}</p>
                </div>

                <div class="profile-picture">
                    <form method="post">
                        {{ forms.text_input18() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color: white; font-size: 22px;">{{ current_user.text_input18 }}</p>
                    {% for user in users %}
                    {% if user.pics_9 %}
                    {% if user.pics_9.endswith('.mov') or user.pics_9.endswith('.mp4') or user.pics_9.endswith('.mp3') %}
                    <video controls>
                        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_9 }}#t=0.1" type="video/mp4"preload="metadata">
                    </video>
                      {% else %}
                    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_9 }}#t=0.1" width="128">
                     {% endif %}
                     {% endif %}
                    {% endfor %}
                    <form method="post" enctype="multipart/form-data">
                        {{ form.pics_9}}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </form>
                    <form method="post">
                        {{ forms.text_input19() }}
                        {{ forms.csrf_token }}
                        {{ forms.submit }}
                    </form>
                    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input19 }}</p>
                </div>



{% endif %}

     
        
{% if current_user.id != 1 %}


        {% if current_user.text_input %}
        <div class="profile-picture">
        <p style="color:white;font-size:22px;">{{ current_user.text_input}}</p>
        {% endif %}
        {% for user in users %}
        {% if user.pics %}
        {% if user.pics.endswith('.mov') or user.pics.endswith('.mp4') or user.pics.endswith('.mp3') %}
        <video controls poster="https://profilepic23.s3.amazonaws.com/{{ user.picsx }}"preload="metadata">
            <source src="https://profilepic23.s3.amazonaws.com/{{ user.picsx }}#t=0.1"type="video/mp4">
            </video>
          {% else %}
        <img src="https://profilepic23.s3.amazonaws.com/{{ user.picsx }}" width="128">
         {% endif %}
         {% endif %}
        {% endfor %}
        {% if current_user.text_input1 %}
        <p style="color:white;font-size:12px;border-radius: 5px; background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input1 }}</p>
    </div>

        {% endif %}

 
{% if current_user.text_input2 %}
<div class="profile-picture">
    <p style="color:white;font-size:22px;">{{ current_user.text_input2 }}</p>
{% endif %}
{% for user in users %}
{% if user.pics_1 %}
{% if user.pics_1.endswith('.mov') or user.pics_1.endswith('.mp4') or user.pics_1.endswith('.mp3') %}
<video controls>
    <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_1 }}#t=0.1" type="video/mp4" preload="metadata">
</video>
  {% else %}
<img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_1 }}" width="128">
 {% endif %}
 {% endif %}
{% endfor %}
{% if current_user.text_input3 %}
<p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input3 }}</p>
</div>
    {% endif %}


    
{% if current_user.text_input4 %}
<div class="profile-picture">
    <p style="color:white;font-size:22px;">{{ current_user.text_input4 }}</p>
{% endif %}
{% for user in users %}
{% if user.pics_2 %}
{% if user.pics_2.endswith('.mov') or user.pics_2.endswith('.mp4') or user.pics_2.endswith('.mp3') %}
<video controls>
    <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_2 }}#t=0.1" type="video/mp4" preload="metadata">
</video>
  {% else %}
<img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_2}}" width="128">
 {% endif %}
 {% endif %}
{% endfor %}
{% if current_user.text_input5 %}
<p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input5 }}</p>
</div>
    {% endif %}



{% if current_user.text_input6 %}
<div class="profile-picture">
    <p style="color:white;font-size:22px;">{{ current_user.text_input6 }}</p>
{% endif %}
{% for user in users %}
{% if user.pics_3 %}
{% if user.pics_3.endswith('.mov') or user.pics_3.endswith('.mp4') or user.pics_3.endswith('.mp3') %}
<video controls>
    <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_3 }}#t=0.1" type="video/mp4"preload="metadata">
</video>
  {% else %}
<img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_3 }}" width="128">
 {% endif %}
 {% endif %}
{% endfor %}
{% if current_user.text_input7 %}
<p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input7 }}</p>
</div>
    {% endif %}


    
{% if current_user.text_input8 %}
<div class="profile-picture">
    <p style="color:white;font-size:22px;">{{ current_user.text_input8 }}</p>
{% endif %}
{% for user in users %}
{% if user.pics_4 %}
{% if user.pics_4.endswith('.mov') or user.pics_4.endswith('.mp4') or user.pics_4.endswith('.mp3') %}
<video controls>
    <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_4 }}#t=0.1" type="video/mp4"preload="metadata">
</video>
  {% else %}
<img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_4 }}" width="128">
 {% endif %}
 {% endif %}
{% endfor %}
{% if current_user.text_input9 %}
<p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input9 }}</p>
</div>
    {% endif %}


    
{% if current_user.text_input10 %}
<div class="profile-picture">
    <p style="color:white;font-size:22px;">{{ current_user.text_input10 }}</p>
{% endif %}
{% for user in users %}
{% if user.pics_5 %}
{% if user.pics_5.endswith('.mov') or user.pics_5.endswith('.mp4') or user.pics_5.endswith('.mp3') %}
<video controls>
    <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_5 }}#t=0.1" type="video/mp4"preload="metadata">
</video>
  {% else %}
<img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_5 }}" width="128">
 {% endif %}
 {% endif %}
{% endfor %}
{% if current_user.text_input11 %}
<p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input11 }}</p>
</div>
    {% endif %}



    {% if current_user.text_input12 %}
    <div class="profile-picture">
        <p style="color:white;font-size:22px;">{{ current_user.text_input12 }}</p>
    {% endif %}
    {% for user in users %}
    {% if user.pics_6 %}
    {% if user.pics_6.endswith('.mov') or user.pics_6.endswith('.mp4') or user.pics_6.endswith('.mp3') %}
    <video controls>
        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_6 }}#t=0.1" type="video/mp4"preload="metadata">
    </video>
      {% else %}
    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_6 }}" width="128">
     {% endif %}
     {% endif %}
    {% endfor %}
    {% if current_user.text_input13 %}
    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input13 }}</p>
    </div>
        {% endif %}
    
    
        
    {% if current_user.text_input14 %}
    <div class="profile-picture">
        <p style="color:white;font-size:22px;">{{ current_user.text_input14 }}</p>
    {% endif %}
    {% for user in users %}
    {% if user.pics_7 %}
    {% if user.pics_7.endswith('.mov') or user.pics_7.endswith('.mp4') or user.pics_7.endswith('.mp3') %}
    <video controls>
        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_7 }}#t=0.1" type="video/mp4"preload="metadata">
    </video>
      {% else %}
    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_7 }}" width="128">
     {% endif %}
     {% endif %}
    {% endfor %}
    {% if current_user.text_input15 %}
    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input15 }}</p>
    </div>
        {% endif %}
    
    
    
    {% if current_user.text_input16 %}
    <div class="profile-picture">
        <p style="color:white;font-size:22px;">{{ current_user.text_input16 }}</p>
    {% endif %}
    {% for user in users %}
    {% if user.pics_8 %}
    {% if user.pics_8.endswith('.mov') or user.pics_8.endswith('.mp4') or user.pics_8.endswith('.mp3') %}
    <video controls>
        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_8 }}#t=0.1" type="video/mp4"preload="metadata">
    </video>
      {% else %}
    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_8 }}" width="128">
     {% endif %}
     {% endif %}
    {% endfor %}
    {% if current_user.text_input17 %}
    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input17 }}</p>
    </div>
        {% endif %}
    
    
        
    {% if current_user.text_input18 %}
    <div class="profile-picture">
        <p style="color:white;font-size:22px;">{{ current_user.text_input18 }}</p>
    {% endif %}
    {% for user in users %}
    {% if user.pics_9 %}
    {% if user.pics_9.endswith('.mov') or user.pics_9.endswith('.mp4') or user.pics_9.endswith('.mp3') %}
    <video controls>
        <source src="https://profilepic23.s3.amazonaws.com/{{ user.pics_9 }}#t=0.1" type="video/mp4" preload="metadata">
    </video>
      {% else %}
    <img src="https://profilepic23.s3.amazonaws.com/{{ user.pics_9 }}" width="128">
     {% endif %}
     {% endif %}
    {% endfor %}
    {% if current_user.text_input19 %}
    <p style="color:white;font-size:12px;border-radius: 5px;background-color: #b1a7a8ee;word-wrap: break-word;border-collapse:collapse;display: inline-block; width:250px;">{{ current_user.text_input19 }}</p>
    </div>
        

    {% endif %}
{% endif %}
{% endblock %}


