
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<head><meta charset="UTF-8"></head>
<head>
    
    <style>

        body {
            background-color: rgba(17, 17, 184, 0.748);
        }
        a {
            color: white;
        }
        h1, p {
            color: white;
        }
        .form-label,  
        .form-control {
            color: white;
        }
        .form-control {
            width: 200px; 
        }
    </style>
</head>
<body>
    <meta name="viewport" content="width=device-width, initial-scale=.7">           
    <h1>Sign In</h1>

    {% endblock %}