{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <style>
        body {
            background-color: rgba(17, 17, 184, 0.748);
            color: white;
        }
        h1, p, a, span {
            color: white;
     }
        .profile-picture {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  overflow: hidden; 
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
} 
    </style>
    <h1>Edit Profile</h1>
    {% if name_to_update.profile_pic %}
        {% if name_to_update.profile_pic.lower().endswith('.heic') or name_to_update.profile_pic.lower().endswith('.heif') %}
            <div class=" profile-picture">
            {% set jpeg_filename = name_to_update.profile_pic.replace('.heic', '.jpg').replace('.heif', '.jpg') %}
            <img src="{{ url_for('static', filename='images/' + jpeg_filename) }}" width="128">
            </div>
        {% else %}
            <div class=" profile-picture"> 
            <img src="{{ url_for('static', filename='images/' + current_user.profile_pic) }}" width="128">
            </div>
        {% endif %}
    {% else %}
        <div class=" profile-picture">
        <img src="{{ current_user.avatar(128) }}" width="128">
        </div>
    {% endif %}


    <div class="row">
        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
                {{ wtf.quick_form(form) }}
                {{ form.csrf_token() }}
            </form>
                
        </div>
    </div>

   
    <a href="{{ url_for('main.delete', id=name_to_update.id) }}" class="btn btn-danger" style="position: absolute; bottom: 20px; right:20px;">Delete Account</a>
{% endblock %}

