{% extends "base.html" %}
{% block app_content %}
{% import 'bootstrap/wtf.html' as wtf %}
    <style>
        body {
            background-color: rgba(17, 17, 184, 0.748);
            color: white;
        }

        h1, p {
            color: white;
        }
    </style>


<body>
<div class="row" style="font-size:12px;font-family:SF Pro Display;">    
    {% for post in posts %}
        {% include '_post.html' %}
  {% endfor %}        
</div>
{% if form %}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>


{% endblock %}

