{% extends "base.html" %}
{% block app_content %}
<head><meta name="viewport" content="width=device-width, initial-scale=1.5"></head>
    <style>
        body {
            background-color: rgba(17, 17, 184, 0.748);
            color: white; }
            .col-md-4 {
            padding:0px;
    }
 
        
        .bio-container {
    margin-left: 1px;
    width: 300px;
    inline-size: 200px; 
    overflow-wrap: break-word;
  }
  h1 {
      font-size: 36px;
      font-weight: bold;
      margin-top: .005px;
    }
    .post-container{
    margin-top: 10px;
    overflow-wrap: break-word;
    inline-size: 200px;
}
.post-container hr {
        width: 147%;
        margin-left: 0px;
    }
    
    .profile-picture {
  width: 150px; 
  height: 150px;
  border-radius: 50%; 
  overflow: hidden;
  margin-left: 3px;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
    </style>
        {% if current_user.id == 1 and current_user.id != user.id and 'delete' not in request.endpoint %}
        <a href="{{ url_for('main.delete', id=user.id) }}" class="btn btn-danger"  style="position: absolute; top: 60px; right: 20px;">Delete Account</a>
    {% endif %}

</div> 
       	<h1 style="margin-left: 30px">{{ user.username }}</h1>

             {% if user.profile_pic %}
            <div class="profile-picture">
                <img src="https://profilepic23.s3.amazonaws.com/{{ user.profile_pic }}" alt="Profile Picture" width="225" height="225">
            </div>
    
            {% else %}
            <div class="profile-picture">
                <img src="{{ user.avatar(128) }}"alt="Avatar" width="225" height="225">
            </div>
            {% endif %}
            
	    
        
            {% if user.last_seen %}<span style="margin-left:1px">Last seen on: {{ moment(user.last_seen).format('LLL') }}</span>{% endif %}
            <p>
            <span style="margin-left:1px"><a href="{{ url_for('main.followers', username=user.username) }}"style="font-size: 18px; color:white">Followers: <span style= "font-size: 18px;">{{ user.followers.count() }}</span></a></span>
            <span style="margin-left:1px"><a href="{{ url_for('main.following', username=user.username) }}"style="font-size:18px;color:white">Following: <span style="font-size: 18px;">{{ user.followed.count() }}</span></a></span>
                </a>
            </p>
            {% if user == current_user %}
                <p><button class="btn btn-primary" onclick="location.href='{{ url_for('main.edit_profile', username=user.username) }}'">Edit your profile</button></p>
            {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=('Follow'), class='btn btn-default') }}
                    </form>
                </p>
            {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=('Unfollow'), class='btn btn-default') }}
                    </form>
                </p>
            {% endif %}   
 
 
 
            {% if user.about_me %}
            <div class="bio-container">
                <p style="font-size: 18px;"><strong>Bio:</strong></br>
                {% set bio_words = user.about_me.split() %}
                {% for i in range(bio_words|length) %}
                    {% set word = bio_words[i] %}
                    {% if word.startswith('www.') or word.startswith('https') and word.endswith('.com') %}
                        {% set full_link = 'http://' + word if not word.startswith(('http://', 'https://')) else word %}
                        {% set link_tag = '<a href="' + full_link + '" target="_blank" style="font-size: 18px; color: white;">' + word + '</a>' %}
                        {{ link_tag | safe }}
                    {% else %}
                        {{ word }}
                    {% endif %}
                    {% if not loop.last %}{{ ' ' }}{% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div class="bio-container">
                <p style="font-size: 18px;"><strong>Bio:</strong></p>
            </div>
        {% endif %}
        

        </div>
    </div>
    <table>
        <tr>
            <td>
                <hr>
                <div class="row post-container">
                    <div class="col-md-12">
                {% for post in posts %}
                    {% include '_post.html' %}
                {% endfor %}
                 </div>
                </div>
                <nav aria-label="...">
                    <ul class="pager">
                        <li class="previous{% if not prev_url %} disabled{% endif %}">
                            <a href="{{ prev_url or '#' }}">
                                <span aria-hidden="true">&larr;</span> Newer posts
                            </a>
                        </li>
                        <li class="next{% if not next_url %} disabled{% endif %}">
                            <a href="{{ next_url or '#' }}">
                                Older posts <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                </div>
            </div>
            </td>
        </tr>
    </table>

{% endblock %}